Package: nzbget
Version: $VERSION
Architecture: $DPKG_ARCH
Maintainer: nzbget.com <nzbget@nzbget.com>
Depends: adduser, init-system-helpers, systemd
Recommends: python3, unrar-free | unrar
Section: net
Priority: optional
Homepage: https://nzbget.com
Description: Command-line based binary newsgrabber for nzb files, written in C++
 NZBGet is a command-line based binary newsgrabber for nzb files,
 written in C++.
 It supports client/server mode, automatic par-check/-repair,
 unpack and web-interface. NZBGet requires low system resources.
