---
services:
  nzbget:
    build:
      context: ../
      dockerfile: docker/Dockerfile
      args:
        MAKE_JOBS: 4
        UNRAR7_NATIVE: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - NZBGET_USER=nzbget
      - NZBGET_PASS=tegbzn6789
    volumes:
      - ./config:/config
      - ./downloads:/downloads
    ports:
      - 6789:6789
    restart: unless-stopped
