name: docker debug build

on:
  push:
    branches:
    - develop
    paths-ignore:
    - 'docs/**'
    - 'tests/**'
    - '**/*.md'
  workflow_dispatch:

jobs:

  build:
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      debug: true
    permissions:
      packages: write
