name: docker debug build

on:
  push:
    branches:
    - develop
    paths:
    - 'cmake/**'
    - 'daemon/**'
    - 'lib/**'
    - 'webui/**'
    - 'docker/**'
    - 'CMakeLists.txt'
  workflow_dispatch:

jobs:

  build:
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      debug: true
    permissions:
      packages: write
