name: osx build

on:
  push:
    branches:
    - develop
    - main
    - feature/gen-sigs
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, macos]

    steps:
    
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Build
      run: |
        bash osx/build-nzbget.sh 

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: nzbget-osx-installers
        path: osx/build/Release/*.zip
        retention-days: 5
