name: windows tests 

on:
  push:
    branches:
    - feature/*
    - develop
    - main
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    runs-on: [self-hosted, windows]

    steps:

    - name: Prepare environment
      run: |
        "C:\Program Files\CMake\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      run: |        
        cmake --version
        mkdir build
        cd build
        cmake .. "-DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows-static
        cmake --build . --config Release -j 2

    - name: Test
      run: |
        cd build
        ctest -C Release

    - name: Upload test artifacts
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: nzbget-windows-test-log
        path: build/Testing/Temporary/LastTest.log
        retention-days: 5
